<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/">FAIS</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/previous_talks/' | relative_url }}">Previous Speakers</a>
        </li>
        <!-- Add more navbar links as needed -->
      </ul>
    </div>
  </nav>
</header>
