<header>
   <!-- Nav Bar -->
   <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/">FAIS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <a class="nav-link" href="/">Previous Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Papers</a>
          </li>
          <!-- Add more navbar links as needed -->
        </ul>
      </div>
    </div>
  </nav>
 </header>